USE [master]
GO
/****** Object:  Database [Accounting_DB]    Script Date: 06/06/2018 11:43:49 ******/
CREATE DATABASE [Accounting_DB] ON  PRIMARY 
( NAME = N'Accounting_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Accounting_DB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Accounting_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Accounting_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Accounting_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Accounting_DB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 06/06/2018 11:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](300) NOT NULL,
	[Mobile] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Address] [nvarchar](800) NULL,
	[CustomerImage] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Mobile], [Email], [Address], [CustomerImage]) VALUES (1, N'ایمان مدائنی', N'09124140939', N'iman@madaeny.com', N'تهران', N'NoPhoto')
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Mobile], [Email], [Address], [CustomerImage]) VALUES (2, N'علی محمدی', N'09351212125', NULL, NULL, N'NoPhoto')
SET IDENTITY_INSERT [dbo].[Customers] OFF
